<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1>Jugadores</h1>
    </div>
  </div>
  <hr>
  <ng-container *ngIf="players | async as players">
    <div class="row mb-3">
      <div class="col-md-11 text-right">
        <form [formGroup]="form">
          <input type="text" placeholder="Buscar" formControlName="search">
        </form>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-sm btn-outline-success" (click)="searchFirstName()">Buscar</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-info">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Position</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let player of players.data">
              <td>{{player.id}}</td>
              <td>{{player.first_name}}</td>
              <td>{{player.last_name}}</td>
              <td>{{player.position}}</td>
              <td><button type="button" class="btn btn-sm btn-outline-danger"
                  (click)="detail(player.id)">Actualizar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
</div>