<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 1</b>
        En JavaScript, ¿cómo se define una función llamada "miFuncion"?</p>
      <p>
        Resp: <b>c) function miFuncion() </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 2</b>
        Respecto a JavaScript y Java, se puede decir que</p>
      <p>
        Resp: <b>d) Las anteriores respuestas no son correctas </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 3</b>
        ¿Dónde se puede insertar código JavaScript en un documento HTML?</p>
      <p>
        Resp: <b>c) Tanto en el < head> como en el < body> </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 4</b>
        Identifica la función de la etiqueta de HTML < noscript>
      </p>
      <p>
        Resp: <b>a) La etiqueta < noscript> se emplea para definir un contenido que resume la funcionalidad de un
            script:
            este contenido se muestra sólo si el navegador no soporta scripting </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 5</b>
        JavaScript "no obstructivo" significa</p>
      <p>
        Resp: <b>d) Todas las respuestas son correctas </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 6</b>
        JavaScript es un lenguaje de programación</p>
      <p>
        Resp: <b>b) Interpretado </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 7</b>
        En JavaScript, respecto a la declaración de variables</p>
      <p>
        Resp: <b>d) Las anteriores respuestas no son correctas </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 8</b>
        En JavaScript, para obtener un carácter concreto de una cadena según su posición se emplea la función</p>
      <p>
        Resp: <b>b) charAt() </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 9</b>
        En JavaScript, ¿cuál es la forma correcta de crear un array?</p>
      <p>
        Resp: <b>c) var txt = new Array("tim","kim","jim") </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 10</b>
        ¿Cuál de las siguientes afirmaciones sobre los arrays en JavaScript es falsa?</p>
      <p>
        Resp: <b>b) No se pueden crear arrays multidimensionales </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 11</b>
        ¿Cuál de las siguientes afirmaciones sobre los arrays en JavaScript es falsa?</p>
      <p>
        Resp: <b>b) No se pueden crear arrays multidimensionales</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 12</b>
        En JavaScript, ¿qué función se emplea para dividir una cadena en función de
        un separador?</p>
      <p>
        Resp: <b>d) split() </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 13</b>
        En JavaScript, para obtener la longitud de la cadena "cad", se emplea</p>
      <p>
        Resp: <b>c) cad.length</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 14</b>
        En JavaScript, ¿cómo se llama el método que comprueba una expresión regular y devuelve true si se
        cumple?</p>
      <p>
        Resp: <b>d) test() </b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p><b>Pregunta 15</b>
        ¿Qué es JSON?</p>
      <p>
        Resp: <b>c) Un formato ligero para el intercambio de datos empleado en JavaScript </b>
      </p>
    </div>
  </div>
</div>